@page
@model Proiect_Medii.Pages.Trainings.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Training</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Training.Date" class="control-label"></label>
                <input asp-for="Training.Date" class="form-control" />
                <span asp-validation-for="Training.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Training.Duration" class="control-label"></label>
                <input asp-for="Training.Duration" class="form-control" />
                <span asp-validation-for="Training.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Training.Location" class="control-label"></label>
                <input asp-for="Training.Location" class="form-control" />
                <span asp-validation-for="Training.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Training.Notes" class="control-label"></label>
                <input asp-for="Training.Notes" class="form-control" />
                <span asp-validation-for="Training.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
